@font-face {
  font-family: "Berlingske Serif";
  src: url("BerlingskeSerif-Regular.eot");
  src: local("Berlingske Serif Regular"), local("BerlingskeSerif-Regular"),
    url("BerlingskeSerif-Regular.eot?#iefix") format("embedded-opentype"),
    url("BerlingskeSerif-Regular.woff2") format("woff2"),
    url("BerlingskeSerif-Regular.woff") format("woff"),
    url("BerlingskeSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
